
# Archivos temporales de Python
*.pyc
*.pyo
__pycache__/

# Archivos temporales del sistema
*.swp
*.swo
*.bak
*.tmp
*~

# Logs
*.log

# Archivos de configuración de entorno
.env

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos específicos de Odoo
*.zip
.DS_Store
